
@{
    Layout = null;
}

@model EFCoreIntro.Models.ORM.Entities.Product
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Page</title>
</head>
<body>
    <form action="/Product/Edit" method="post">

        @await Html.PartialAsync("Partial/ProductForm")


        <div>
            <input type="submit" name="name" value="Güncelle" />
        </div>
    </form>
</body>
</html>
