
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h1>Fakülte Ekleme Sayfası</h1>

    <form action="/Faculty/Add" method="post">
        <div>
            <input type="text" name="Name" value="" />
        </div>
        <div>
            <input type="submit" name="name" value="Kayıt" />
        </div>
    </form>
</body>
</html>
