
@{
    Layout = null;
}
@model EFCoreIntro.Models.ORM.Entities.Faculty

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FacultyDetail</title>
</head>
<body>
    <span>@Model.ID</span>
    <span>@Model.Name</span>

</body>
</html>
