
@{
    Layout = null;
}

@model List<EFCoreIntro.Models.ORM.Entities.Faculty>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>

            </tr>
        }
    </table>
</body>
</html>
